.header{
	background-color: #262829;
	color: #5d6163;
	min-height:50px;
}
a:hover{
	transform: scale(0.9);
	transition: 0.5s;
}
.logo{
	margin-bottom:20px;
}
.emapho{
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
	line-height:36px;
    list-style: none;
	padding-top:5px;
}
.emapho__item{
	display: inline;
	margin-left:60px;
	text-transform:uppercase;
}
.emapho__white{
	color: #ffffff;
}
.navigation{
	background: #ffffff;
	padding-top: 30px;
}
.nav__a{
	text-decoration: none;
	color: #4e4e4e;
}
.nav__item{
	display:inline;
	margin-left:30px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	line-height:30px;
}
.nav__a:hover{
	text-decoration: none;
	color: #ffac56;
}

/*BIG IMG BLOCK START*/

.bigimg{
	background-image: url("../img/bigimggirl.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.constructor{
	margin-top: 170px;
	display:flex;
    flex-wrap:wrap;
    font-family: 'Montserrat', sans-serif;
	font-size:14px;
	text-transform:uppercase;
	color: #ffffff;
}
.constructor__choose{
	background-color: #ffac56;
	padding:20px 15px;
	flex-basis: 100%;
}
.constructor__choose span{
	font-size:30px;
}
.constructor__block{
	background-color: #03b6e7;
	border: 1px solid #00a6d3;
	flex: 1 0 50%;
	position: relative;
}
.constructor__block:hover{
	background-color: #00a6d3;
}
.constructor__education:before{
	content: url(../img/education.png);
	display: block;
	padding-top: 35px;
	padding-left: 40px;
}
.constructor__education span{
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
}
.constructor__education:after{
	content: url(../img/nextbutton.png);
	position: absolute;
	right: 10px;
	bottom:10px;
	
}
.constructor__business:before{
	content: url(../img/business.png);
	display: block;
	padding-top: 35px;
	padding-left: 40px;
}
.constructor__business span{
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
}
.constructor__business:after{
	content: url(../img/nextbutton.png);
	position: absolute;
	right: 10px;
	bottom:10px;
}
.constructor__technology:before{
	content: url(../img/technology.png);
	display: block;
	padding-top: 35px;
	padding-left: 40px;
}
.constructor__technology span{
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
}
.constructor__technology:after{
	content: url(../img/nextbutton.png);
	position: absolute;
	right: 10px;
	bottom:10px;
}
.constructor__estate:before{
	content: url(../img/realestate.png);
	display: block;
	padding-top: 35px;
	padding-left: 40px;
}
.constructor__estate span{
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
}
.constructor__estate:after{
	content: url(../img/nextbutton.png);
	position: absolute;
	right: 10px;
	bottom:10px;
}
.constructor__bankinkg:before{
	content: url(../img/banking.png);
	display: block;
	padding-top: 35px;
	padding-left: 40px;
}
.constructor__bankinkg span{
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
}
.constructor__bankinkg:after{
	content: url(../img/nextbutton.png);
	position: absolute;
	right: 10px;
	bottom:10px;
}
.constructor__more{
	display: flex;
	justify-content: center;
	align-items: center;
	padding:20px 41px;
}
.constructor__more a{
	text-decoration: none;
	padding: 10px 20px;
	border: 1px solid #16d428;
	border-radius: 50px;
	background-color:#16d428;
	color: #ffffff;
}

/*BIG IMG BLOCK END*/

/*ABOUT US BLOCK START*/


.preline{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	color: #939798;
	text-align: right;
	padding-top: 80px;
	line-height: 0px;
	margin-bottom:-20px;
}
.aboutus h1{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size:32px;
	font-weight: bold;
	text-align: right;
	line-height: 0px;
	padding-bottom: 65px;
}
.aboutus p{
	padding-left: 30px;
	font-family: 'Domine', sans-serif;
	color: #939798;
	font-size: 15px;
	line-height: 28px;
	padding-bottom: 35px;
}
.aboutus a{
	text-decoration: none;
	padding: 10px 20px;
	border: 1px solid #16d428;
	border-radius: 50px;
	background-color:#16d428;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size:13px;
	float: right;
}
.paperman{
	content: url(../img/paperman.png);
	width:100%;
	padding: 80px 0px;
}

/*ABOUT US BLOCK END*/

/*STEPS BLOCK START*/

.steps{
	background-color: #e7eff1;
}
.steps__preline{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	color: #939798;
	text-align: left;
	padding-top: 80px;
	line-height: 20px;
}
.steps h1{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size:32px;
	font-weight: bold;
	text-align: left;
	line-height: 0px;
}
.chooseind{
	background-image: url(../img/chooseind.png);
	width: 62px;
	height: 62px;
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 25px;
}
.steps__01{
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	color:#16d428;
	font-weight: bold;
}
.steps__chyi{
	font-family: 'Montserrat', sans-serif;
	font-size:18px;
	font-weight: bold;
	line-height: 33px;
}
.steps__chyilorem{
	font-family: 'Domine', sans-serif;
	font-size:15px;
	color: #838b8c;
	line-height: 28px;
	margin-top: 20px;
	padding-bottom: 90px;
}
.chooseser{
	background-image: url(../img/chooseserv.png);
	width: 63px;
	height: 63px;
	display: inline-block;
	margin-top: 148px;
	margin-bottom: 25px;
	background-repeat: no-repeat;
}
.steps__02{
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	color:#16d428;
	font-weight: bold;
}
.steps__chys{
	font-family: 'Montserrat', sans-serif;
	font-size:18px;
	font-weight: bold;
	line-height: 33px;
}
.choosebus{
	background-image: url(../img/boost.png);
	width: 73px;
	height: 73px;
	display: inline-block;
	margin-top: 138px;
	margin-bottom: 25px;
	background-repeat: no-repeat;
}
.steps__03{
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	color:#16d428;
	font-weight: bold;
}
.steps__chyb{
	font-family: 'Montserrat', sans-serif;
	font-size:18px;
	font-weight: bold;
	line-height: 33px;
}

/*STEPS BLOCK END*/

/*PROJECTS BLOCK START*/

.projects{
    background-color: #ffffff;
}
.projects__preline{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	color: #939798;
	text-align: left;
	padding-top: 80px;
	line-height: 20px;
}
.projects h1{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size:32px;
	font-weight: bold;
	text-align: left;
	line-height: 0px;
}
.projects__banking{
    margin-top: 35px;
    display: inline-block;
    position: relative;
}
.projectman{
    width: 100%;
}

.banking__text{
    display: block;
    position: absolute;
    color: #ffffff;
    top: 20px;
    left:30px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
	font-size:12px;
    line-height: 33px;
    border: 2px solid #ffac56;
    border-radius: 50px;
    padding:5px 30px 5px 30px; 
}
.banking__shape{
    position:absolute;
    left: 0px;
    bottom: 0px;
}
.projects__heading{
    display: inline-block;
    position: relative;
    width: 47%;
    height: 200px;
    background-color: #ffac56;
    text-align: center;
    vertical-align: middle;
    margin-right: 20px;
}
.projects__heading h1{
    font-family: 'Montserrat', sans-serif;
	font-size:18px;
    line-height: 33px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    margin-top: 15%;
}
.projects__heading p{
    font-family: 'Domine', sans-serif;
	font-size:15px;
    line-height: 22px;
    color: #ffffff;
}
.projects__shapeactive{
    position: absolute;
    bottom: 0px;
    left:0px;
}
.projects__technology{
 	display: inline-block;
    position: relative;
    margin-top: 160px;
    width: 47%;
}
.technologyimg{
	width: 100%;
    height: 200px;
    
}
.technology__text{
    display: block;
    position: absolute;
    color: #ffffff;
    top: 10px;
    left:15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
	font-size:12px;
    line-height: 33px;
    border: 2px solid #ffac56;
    border-radius: 50px;
    padding:3px 15px 3px 15px; 
}
.projects__shape{
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.projects__realestate{
	display: inline-block;
    position: relative;
    margin-top: 20px;
}
.realestateimg{
	width: 99%;
	height: 180px;
}
.realestate__text{
    display: block;
    position: absolute;
    color: #ffffff;
    top: 10px;
    left:15px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
	font-size:10px;
    line-height: 33px;
    border: 2px solid #ffac56;
    border-radius: 50px;
    padding:3px 20px 3px 20px; 
}
.fullprojects{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 40px;
}
.fullprojects a{
	text-decoration: none;
	padding: 10px 20px;
	border: 1px solid #16d428;
	border-radius: 50px;
	background-color:#16d428;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 90px;
}

/*PROJECTS BLOCK END*/

/*TESTIMONIALS START*/

.testimonials{
	background-color: #03b6e7;
}
.testimonials__preline{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	color: #a6ecff;
	text-align: left;
	padding-top: 80px;
	line-height: 20px;
}
.testimonials h1{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size:32px;
	font-weight: bold;
	text-align: left;
	line-height: 0px;
	color:#ffffff;
}
.testimonials__text{
	color: #ddf8ff;
	font-family: 'Domine', sans-serif;
	font-size:15px;
	line-height: 28px;
	padding-left: 20px;
}
.testimonials__margin{
	margin-top: 50px;
}
.client1img{
	border-radius: 50px;
}
.testimonials__client{
	margin-left: 20px;
}
.testimonials__client h2{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	font-weight: bold;
	line-height: 33px;
	color:#ffffff;
	margin-bottom:-10px;
}
.testimonials__client p{
	text-transform: capitalize;
	font-family: 'Domine', sans-serif;
	font-size:15px;
	line-height: 28px;
	color:#ddf8ff;
}
.clients__margin{
	margin-top: 80px;
	padding-bottom: 80px;
}

/*TESTIMONIALS END*/
/*OUR BLOG START*/


.ourblog h1{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size:32px;
	font-weight: bold;
	text-align: left;
	line-height: 0px;
	display: inline-block;
	padding-right: 40px;
}
.ourblog__preline{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	color: #939798;
	text-align: left;
	padding-top: 80px;
	line-height: 20px;
}

.ourblog__afterh{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size:12px;
	color: #989fa0;
	display: inline-block;
    border: 2px solid #ffac56;
    border-radius: 50px;
    padding:5px 30px 5px 30px; 
}
.ourblog__text__p2{
	font-family: 'Domine', sans-serif;
	font-size:15px;
	line-height: 28px;
	color:#838b8c;
}
.ourblog__text__p{
	text-transform: capitalize;
	font-family: 'Domine', sans-serif;
	font-size:15px;
	line-height: 28px;
	color:#343a3b;
}
.ourblog__text h2{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size:18px;
	font-weight: bold;
	color:#343a3b;
    line-height: 33px; 
}
.ourblog__text{
	padding-bottom:60px;
}
.ourblog{
	background-color: #e7eff1;
}
.ourblogman{
	object-fit: cover;
	height: 100%;

}
.ourblogmanclass{
	position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    overflow: hidden;
}
.rowrelarive{
	position: relative;
}
.ourblogpadding{
	padding-left: 10%;
}

/*OUR BLOG END*/
/*CONTACTUS START*/

.contactus__preline{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size:14px;
	color: #939798;
	text-align: left;
	padding-top: 80px;
	line-height: 20px;
}
.contactus h1{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size:32px;
	font-weight: bold;
	text-align: left;
	line-height: 0px;
	display: inline-block;
	padding-right: 40px;
}
.contactusinbo h3{
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size:18px;
	font-weight: bold;
	display: inline-block;
}
.contactusinbo p{
	font-family: 'Domine', sans-serif;
	font-size:18px;
}

.contactus__box{
	display: inline-block;
	padding-top: 30px;
}
.contactus__border{
	border: 1px solid grey;
	margin-top: 30px;
	margin-bottom: 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.contactus__border img{
	padding-top: 10px;
}
/*CONTACTUS END*/